.back {
	font-family: "苹方";
	height: 2.25rem;
	line-height: 2.25rem;
	font-size: 0.9rem;
	border-bottom: 1px solid #E8E8E8;
	padding-left: 1.6rem;
	color: #6a6a6a;
	background: #fff;
}
.back>a {
	font-family: "苹方";
	color: #6a6a6a;
	font-size: 0.9rem;
}
.headTitle {
	padding: 0 1.5rem;
	background-color: #FFFFFF;
}
.headTitle>div {
	height: 4.6rem;
	line-height: 4.6rem;
	border-bottom: 1px solid #E8E8E8;
	font-size: 1.2rem;
	font-weight: bold;
}
.headTitle .iconBar {
	vertical-align: middle;
	display: inline-block;
	width: 0.25rem;
	height: 1.6rem;
	background-color: #D80C18;
	margin-right: 0.5rem;
}
.red {
	font-size: 0.9rem;
	color: #D80C18;
}
.layui-table {
	margin: 0;
}

.layui-table th {
	font-weight: 700;
}

.layui-table td {
	font-size: 0.9rem;
	color: #666666;
}

#laypage {
	margin-top: 1.2rem;
}

.layui-laypage {
	width: 100%;
	zoom:1;
	text-align: right;
}

.layui-laypage:after{
	display:block;
	content:'';
	clear:both;
}

.layui-laypage-count {
	float: left;
}
.layui-table thead tr,.layui-table[lay-even] tr:nth-child(even),.layui-table tbody tr:hover {
	background-color: #fbfafa;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: transparent;
	border: 1px solid #1e8aff;
	color: #1e8aff;
	padding: 0;
}
.layui-laypage .layui-laypage-curr em,.layui-laypage a:hover {
	color: #1e8aff;
}
.layui-laypage input:focus, .layui-laypage select:focus {
	border-color: #1e8aff !important;
}
.layui-laypage a,.layui-laypage .layui-laypage-curr,.layui-laypage .layui-laypage-spr,.layui-laypage input {
	width: 1.7rem;
	height: 1.7rem;
	line-height: 1.7rem;
	margin: 0 0.3rem;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.layui-laypage .layui-laypage-skip {
	height: 1.7rem;
	line-height: 1.7rem;
	margin: 0;
}
.layui-laypage input {
	margin-top: -1px;
}
.layui-laypage button {
	height: 1.7rem;
	line-height: 0.9rem;
	padding: 0.2rem 0.5rem;
	margin-top: -1px;
	font-size: 0.9rem;
}

